body { 
font-family: sans-serif;
background-color: #FAF7F2;
box-sizing: border-box;

}

.title {
    font-size:32px;
    font-weight: bold;
    text-align:center;
    color: #eee;
    text-decoration: none;
    margin: 8px auto;   
    background-color: #C27A43;
    padding: 10px 20px; 
    font-family: inherit;
    
}

.recipes {
    text-align: center;
}

 .recipes a {
    font-size: 9px;
    display: inline-block;        
    padding: 8px 13px;
    width: fit-content;    
    background-color: #D8C3A5;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.2s;
    font-family: inherit;
}

.recipes a:hover {
    background-color: #A47149; 
}


   


