body { 
    font-family: sans-serif;
    background-color: #faf7f2;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #C27A43;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 300px;
    padding: 10px 20px;
}

.center-image {
    display: block;
    margin: 20px auto; 
}


.recipes a {
    font-size: 8px;
    display: block;
    margin: 8px auto;
    width: fit-content;
    padding: 10px 15px;
    background-color: #D8C3A5;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.recipes a:hover {
    background-color: #A47149;
}
